n8n - примеры workflow/1. n8n RAG-агент - консультант сотрудников компании.json
{
  "name": "RAG-агент - консультант сотрудников компании",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        128,
        160
      ],
      "id": "2a83195f-c4d0-4d87-8043-d7118560bb59",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_WEBHOOK_ID",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 10,
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты — внутренний ИИ-консультант компании.\nТвоя задача — помогать сотрудникам находить ответы исключительно на основе внутренней документации компании, переданной тебе через контекст, базу знаний или RAG-механизм.\nРоль и границы\nТы:\n— консультируешь по регламентам, инструкциям, процессам, политикам, шаблонам и внутренним правилам\n— объясняешь сложные пункты документации простым и понятным языком\n— помогаешь сотрудникам понять, как действовать правильно в рамках компании\nТы не имеешь права:\n— использовать внешние источники, интернет, личные знания или догадки\n— придумывать ответы, если информации нет в документации\n— интерпретировать правила «по логике» или «как обычно бывает»\n— давать юридические, финансовые или HR-советы вне зафиксированных внутренних регламентов\nОбязательное правило общения\nТы всегда обращаешься к сотруднику на «Вы».\nНедопустимо:\n— обращение на «ты»\n— обезличенные формулировки, если можно обратиться напрямую\n— разговорный или фамильярный стиль\nПримеры корректного обращения:\n— «Вы можете выполнить это действие следующим образом…»\n— «В документации указано, что Вы обязаны…»\n— «Для корректного ответа уточните, пожалуйста…»\nЭто правило является строгим и безусловным.\nОсновной принцип\nЕсли ответа нет в документации — ты прямо говоришь об этом.\nДопустимые формулировки:\n— «В предоставленной внутренней документации нет информации по этому вопросу»\n— «Данный случай не описан в действующих регламентах компании»\n— «Рекомендую уточнить у ответственного подразделения / владельца процесса»\nЛогика ответа\nВсегда действуй по следующему алгоритму:\nОпредели, к какому процессу или документу относится вопрос\nНайди соответствующий фрагмент во внутренней документации\nДай точный ответ без домыслов\nПри необходимости:\n— перечисли шаги\n— укажи условия и ограничения\n— процитируй формулировку документа (кратко)\nЕсли вопрос сформулирован неясно — задай один уточняющий вопрос, необходимый для корректного ответа.\nСтиль общения\n— деловой, спокойный, уважительный\n— строго на «Вы»\n— без канцелярита и без разговорного сленга\n— кратко, по делу, структурировано\nФормат ответа\nПо умолчанию:\n— 2–6 предложений\n— без эмодзи\n— без лишних вступлений\nЕсли вопрос предполагает инструкцию:\n— пошаговое описание\n— каждый шаг опирается на документацию\nРабота с рисками\nЕсли вопрос касается:\n— доступа\n— персональных данных\n— финансов\n— юридических последствий\n— ответственности сотрудников\nТы обязан:\n— строго следовать формулировкам документа\n— указывать ограничения и условия\n— избегать обобщений и рекомендаций «от себя»\nЗавершающее правило\nТвоя ценность — точность, корректность и соответствие внутренним правилам компании.\nВ случае, если нет информации в представленной базе знаний, сообщи об этом пользователю."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        160
      ],
      "id": "d8f6e379-218e-40d9-b21c-68c82dcfda3f",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 10
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        160
      ],
      "id": "8c6d2388-f1d3-4578-969d-94325aef17da",
      "name": "Send a text message",
      "webhookId": "YOUR_WEBHOOK_ID",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 10,
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## RAG-агент - консультирует по внутренней документации компании",
        "height": 640,
        "width": 1088
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        48
      ],
      "typeVersion": 1,
      "id": "4147d849-39b5-48a3-9b91-c2d32f2eafee",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        544
      ],
      "id": "1421b9e3-01f3-4513-b7ec-d57ca71b5af0",
      "name": "Embeddings OpenAI1",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_VALUE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_VALUE",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "User_id": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "Chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "User_name": "={{ $('Telegram Trigger').item.json.message.from.username }}",
            "Time": "={{ $('Telegram Trigger').item.json.message.date }}",
            "Question": "={{ $('Telegram Trigger').item.json.message.text }}",
            "Answer": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "User_id",
              "displayName": "User_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chat_id",
              "displayName": "Chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User_name",
              "displayName": "User_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        160
      ],
      "id": "35458f9c-ba5c-41e1-b10a-30ff24db7c57",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 10,
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        368
      ],
      "id": "6ccf5746-fd63-4d77-825c-887f7a86e438",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "YOUR_document_URL"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1536,
        272
      ],
      "id": "4a6a082e-1c54-4107-a487-ae764b30fabd",
      "name": "Get a document",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 10,
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "YOUR_INFO",
          "mode": "list",
          "cachedResultName": "YOUR_INFO"
        },
        "options": {
          "pineconeNamespace": "YOUR_INFO"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1744,
        256
      ],
      "id": "54d499e7-38c3-4ea0-9c5a-4e4465974f3d",
      "name": "Pinecone Vector Store",
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1648,
        464
      ],
      "id": "190f5cdb-1aa7-4090-bd8b-b0ece804a9df",
      "name": "Embeddings OpenAI",
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1888,
        464
      ],
      "id": "1672a733-8e65-4ec0-bdbd-b207878d0c58",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "## Для векторизации внутренней докментации",
        "height": 480,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        160
      ],
      "typeVersion": 1,
      "id": "b3236d97-85db-4ff2-bad3-b443db5126f1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1312,
        288
      ],
      "id": "ce29edb1-d212-470a-b0cb-886707ef1cd2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Vector Store",
        "pineconeIndex": {
          "__rl": true,
          "value": "YOUR_INFO",
          "mode": "list",
          "cachedResultName": "YOUR_INFO"
        },
        "options": {
          "pineconeNamespace": "YOUR_INFO"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        544,
        384
      ],
      "id": "8cef39b0-8268-47cf-8ac7-e57a137f3239",
      "name": "Pinecone Vector Store1",
      "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "YOUR_version_Id",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_instance_Id"
  },
  "id": "YOUR_Id",
  "tags": []
}