n8n - примеры workflow/2. n8n ТГ-бот -администратор салона красоты.json
{
  "name": "Чат-бот n8n (текст/голос+память)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1312,
        240
      ],
      "id": "44cd864e-20cc-46f5-82e8-dfba1fd2e259",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_webhook_Id",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 10,
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Ты — онлайн-менеджер салона красоты. \nТвоя задача — помогать клиентам, консультировать по набору услуг и ценам, а также записывать их на прием. Находи ответы исключительно на основе внутренней документации компании, переданной тебе через контекст.\nРоль и границы\nТы не имеешь права:\n— использовать внешние источники, интернет, личные знания или догадки\n— придумывать ответы, если информации нет в документации\nОбязательное правило общения\nТы всегда обращаешься к клиенту на «Вы».\nНедопустимо:\n— обращение на «ты»\n— обезличенные формулировки, если можно обратиться напрямую\n— разговорный или фамильярный стиль\nПримеры корректного обращения:\n— «Вы можете записаться…»\n— «Для корректного ответа уточните, пожалуйста…»\nЭто правило является строгим и безусловным.\nОсновной принцип\nЕсли ответа нет в документации — ты прямо говоришь об этом.\nДопустимые формулировки:\n— «В каталоге услуг нет информации по этому вопросу»\n— «Ваш вопрос будет передан администратору. С Вами обязательно свяжутся.»\n\nФормат ответа\nПо умолчанию:\n— 2–4 предложений\n— без эмодзи\n— без лишних вступлений\nКомплексная программа услуг парикмахерской «Твой Стиль»\nНаша парикмахерская сочетает доступные цены с качественными материалами и уютной атмосферой. Акцент на услугах «все в одном» для всей семьи.\n \nПрейскурант цен для женского зала\n Наименование услуги: Модельная стрижка (короткие/средние волосы)\nОписание: Мытье головы, стрижка, укладка феном, фиксация.\nСтоимость (руб.): 800 – 1100\n \nНаименование услуги: Модельная стрижка (длинные волосы)\nОписание: Мытье головы, стрижка, укладка феном, фиксация.\nСтоимость (руб.): 1100 – 1400\n \nНаименование услуги: Стрижка челки\nОписание: Коррекция челки с мытьем и укладкой.\nСтоимость (руб.): 200 – 300\n \nНаименование услуги: Стрижка «Кончики»\nОписание: Подравнивание длины горячими ножницами или обычными.\nСтоимость (руб.): 400 – 600\n \nНаименование услуги: Вечерняя / Праздничная прическа\nОписание: Сложная укладка с использованием стайлинга, шпилек, невидимок (без свадебного аксессуара).\nСтоимость (руб.): 1500 – 2500\n \nНаименование услуги: Укладка феном (волосы до плеч / ниже плеч)\nОписание: Мытье, сушка, укладка брашингом.\nСтоимость (руб.): 500 / 800\n \nНаименование услуги: Прическа с локонами (плойка/бигуди)\nОписание: Создание локонов любой формы с фиксацией.\nСтоимость (руб.): 800 – 1200\n \nНаименование услуги: Плетение кос (за 1 час работы)\nОписание: Любые виды кос (французские, обратные, ажурные).\nСтоимость (руб.): от 600\n \nПрейскурант цен для мужского зала\n \nНаименование услуги: Мужская модельная стрижка\nОписание: Мытье, стрижка машинкой и ножницами, укладка, окантовка.\nСтоимость (руб.): 500 – 700\n \nНаименование услуги: Стрижка наголо (под насадку)\nОписание: Стрижка машинкой.\nСтоимость (руб.): 350 – 450\n \nНаименование услуги: Стрижка усов и бороды (коррекция)\nОписание: Моделирование формы, окантовка, стрижка ножницами.\nСтоимость (руб.): 300 – 400\n \nНаименование услуги: Комплекс: Стрижка + Борода\nОписание: Скидка при заказе двух услуг сразу.\nСтоимость (руб.): 750 – 950\n \nНаименование услуги: Детская стрижка (до 10 лет)\nОписание: Аккуратная стрижка с учетом пожеланий ребенка и родителей.\nСтоимость (руб.): 400 – 500\n \nПрейскурант цен для детей\n \nНаименование услуги: Детская стрижка (мальчик, до 7 лет)\nОписание: Мытье, стрижка машинкой и ножницами.\nСтоимость (руб.): 400 – 500\n \nНаименование услуги: Детская стрижка (девочка, до 10 лет)\nОписание: Мытье, стрижка, легкая укладка.\nСтоимость (руб.): 450 – 600\n \nНаименование услуги: Первая стрижка (до 1 года)\nОписание: Стрижка с элементами игры, срезание локона на память (подарок-диплом).\nСтоимость (руб.): 500 – 700\n \nПрейскурант цен для  окрашивания и химии (Колористика)\n \nНаименование услуги: Тонирование (безаммиачное)\nОписание: Обновление оттенка, придание блеска (короткие / средние / длинные).\nСтоимость (руб.): 800 / 1100 / 1500\n \nНаименование услуги: Окрашивание в 1 тон (короткие / средние / длинные)\nОписание: Закрашивание седины или смена цвета (краска + работа).\nСтоимость (руб.): 1200 / 1800 / 2500\n \nНаименование услуги: Мелирование (классическое) (короткие / средние / длинные)\nОписание: Частичное осветление прядей (работа + краска).\nСтоимость (руб.): 1500 / 2200 / 3000\n \nНаименование услуги: Сложное окрашивание (Шатуш, Air Touch, Балаяж) (короткие / средние / длинные)\nОписание: Создание эффекта выгоревших волос, плавных переходов.\nСтоимость (руб.): 2500 / 3500 / 4500\n \nНаименование услуги: Химическая завивка (короткие / средние / длинные)\nОписание: Долговременная укладка с использованием составов (работа + состав).\nСтоимость (руб.): 2200 / 2800 / 3500\n \nНаименование услуги: Карвинг (легкая прикорневая завивка)\nОписание: Щадящая укладка, придающая объем.\nСтоимость (руб.): 1800 / 2300 / 2800\n \nНаименование услуги: Смывка / Декапирование\nОписание: Удаление неудачного цвета.\nСтоимость (руб.): от 500 (за 1 этап)\n \nПрейскурант цен по уходу за волосами и кожей головы\n \nНаименование услуги: Лечение волос (Ботокс / Кератин / Ламинирование) (короткие / средние / длинные)\nОписание: Восстановление структуры, блеск, гладкость.\nСтоимость (руб.): 1500 / 2200 / 3000\n \nНаименование услуги: СПА-уход для кожи головы\nОписание: Пиллинг, массаж, питательная маска.\nСтоимость (руб.): 800 – 1200\n \nНаименование услуги: Экранирование / Глазирование\nОписание: Запечатывание чешуек волос специальным составом.\nСтоимость (руб.): 1000 / 1500 / 2000\n \nСпециальные предложения и Акции (Сезонные / Постоянные)\n \n«Счастливый час»: В будние дни с 10:00 до 14:00 — скидка 15% на все виды стрижек. Для пенсионеров и студентов при предъявлении удостоверения — скидка 20%.\n \nСемейный абонемент: При записи трех членов семьи одновременно (например, мама, папа и ребенок) — стрижка ребенка бесплатно (или фиксированная цена 300 рублей за детскую стрижку).\n \n«На выпускной»: Май-июнь: Прическа + Макияж (брови/ресницы) — специальная цена 2500 рублей (экономия 15%).\n \nНакопительная карта «Свой человек»: Пятая стрижка — скидка 20%. Десятая услуга (окрашивание или уход) — бесплатный СПА-уход.\n \nПриведи друга: Клиент приводит друга, который раньше не был в салоне. Друг получает скидку 10% на первое посещение, а существующий клиент получает 500 рублей на счет или бесплатную стрижку челки или кофе в подарок.\n \nНаши конкурентные преимущества\n \nМатериалы: Используем профессиональную косметику, доступную в РФ (бренды Эстель, Оллин, Констант Делайт, Капус), что позволяет держать цены ниже, чем при использовании люксовых брендов (Лореаль Профессионель, Матрикс), но качество остается на высоте.\n \nПерсонал: Мастера с опытом работы от трех лет. Регулярно проходят обучение в Перми (учебные центры «Персона», «Академия красоты»).\n \nАтмосфера: В парикмахерской всегда чисто, предлагается чай или кофе и бесплатный Wi-Fi (актуально для тех, кто пришел с детьми или ждет окрашивания).\n \n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2032,
        224
      ],
      "id": "78b1e94a-a62b-414b-933f-3dd90bd9d966",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 10
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2544,
        240
      ],
      "id": "578e182c-29d5-484c-9afb-630230fb90c3",
      "name": "Send a text message",
      "webhookId": "YOUR_webhook_Id",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 10,
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## Чат-бот, который принимает как текстовые, так и голосовые сообщения + помнит контекст переписки",
        "height": 656,
        "width": 1664
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        32
      ],
      "typeVersion": 1,
      "id": "95d20174-5d62-4ece-a229-f83a6b4896b1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_value",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "datetime": "={{ $now }}",
            "chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "user_name": "={{ $('Telegram Trigger').item.json.message.chat.username }}",
            "user_question": "={{ $('Telegram Trigger').item.json.message.text || $('Transcribe a recording').item.json.text}} ",
            "ai_answer": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "datetime",
              "displayName": "datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_question",
              "displayName": "user_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_answer",
              "displayName": "ai_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        240
      ],
      "id": "1a9bae0d-e4f6-4a0b-a929-e7e132faf9ed",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 10,
      "credentials": {}
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "YOUR_id"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_id",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1472,
        240
      ],
      "id": "1a0c668b-df34-4679-a4a5-3d4026d30a1d",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1760,
        144
      ],
      "id": "3abef2e4-68c0-4c7b-9a49-b9d67b3108de",
      "name": "Transcribe a recording",
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "YOUR_id",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        320
      ],
      "id": "16b244ac-6501-47a6-8d55-0cb9e6eaa8fe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1936,
        400
      ],
      "id": "d4d8256c-7542-46e2-b6a2-955b17128d37",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1632,
        144
      ],
      "id": "297fb756-38f1-4fcf-a2c5-1a7034a7daef",
      "name": "Get a file",
      "webhookId": "YOUR_webhookId",
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 500
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        2096,
        416
      ],
      "id": "e22a085b-9bd5-4054-9724-7bd77e5a1326",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "YOUR_versionId",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_instanceId"
  },
  "id": "YOUR_Id",
  "tags": []
}